extends  ./layouts/main.pug

block header 
  - var currentPage = 'about';

block main
  -
    var timeline = [
      {time: "2010年初", image: null, content: "成立社团性质工作室"},
      {time: "2010年6月", image: null, content: "建立并运营资料信息整合网站"},
      {time: "2010年12月", image: null, content: "组建翻译组"},
      {time: "2012年5月", image: null, content: "组建游戏制作团队"},
      {time: "2013年4月", image: null, content: "开始运营东方Project版权方相关项目"},
      {time: "2014年5月", image: null, content: "发布第一部成品动画作品"},
      {time: "2015年", image: null, content: "开始线下活动运营业务"},
      {time: "2015年底", image: null, content: "立项推进东方Project官方书籍引进"},
      {time: "2016年", image: null, content: "经营作品销售代理业务"},
      {time: "2016年12月", image: null, content: "涉足主机游戏发行业务"},
      {time: "2017年", image: null, content: "公司化运作"},
      {time: "2017年3月", image: '201703.jpg', content: "囧仙子通贩业务上线"},
      {time: "2017年8月", image: '201708.jpg', content: "举办第一届「幻奏盛宴」交响音乐会"},
      {time: "2017年8月", image: null, content: "成立「魅知文化」"},
      {time: "2017年12月", image: null, content: "设立翻译工作室承接作品翻译引进工作"},
      {time: "2018年4月", image: '201804.jpg', content: "与浙江出版集团合作出版发行系列音像制品"},
      {time: "2018年5月", image: '201805.jpg', content: "协助东方Project原作者来华讲座"},
      {time: "2018年8月", image: '201808.jpg', content: "策划国内最大规模单IP主题展"},
      {time: "2018年8月", image: '2018082.jpg', content: "举办千人以上级别线下音乐Live"},
      {time: "2019年8月", image: '201908.jpg', content: "成功策划举办大型线下系列活动"},
      {time: "2019年8月", image: '2019082.jpg', content: "幻奏系列扩展新品牌「幻奏乐景」"},
      {time: "2019年12月", image: '201912.jpg', content: "在上海策划执行东方Project原作者见面会"},
      {time: "2019年12月", image: '2019122.jpg', content: "设立「魅知幻想博览会&歌谣会」独立活动品牌"},
      {time: "2020年3月", image: '202003.jpg', content: "主持东方Project原作者入驻B站"},
      {time: "2020年4月", image: null, content: "成立海外引进发行项目组"},
      {time: "2020年7月", image: '202007.jpg', content: "与天闻角川开始翻译与经销业务长期合作"},
      {time: "2020年10月", image: '202010.jpg', content: "幻奏系列扩展新品牌「幻奏华章」"},
      {time: "2020年10月", image: null, content: "成立游戏发行项目组"},
      {time: "2021年4月", image: null, content: "公司整体搬迁杭州"},
      {time: "2021年5月", image: '202105.jpg', content: "成立游戏业务子公司「魅知科技」"},
    ];
    timeline.reverse();

  .page-header
    .header-background(style="background-image: url(./sources/imgs/header/a1.jpg)") 
    .container
      h1 会社概要
      span.bg-title About Us 
  .timeline-area 
    .container
      .article
        table(style="width:100%",align="center")
          tr
            th 会社名
            td  魅知株式会社
          tr
            th 所在地
            td 〒151-0072　東京都渋谷区幡ヶ谷１－１１－９ グローリオ笹塚５０５
          tr
            th 設立
            td 2018年08月31日
          tr
            th 代表者
            td 代表取締役　徐　博晨
          tr
            th 資本金
            td 5,000,000円
          tr
            th 事業内容
            td ライブ配信、映像制作、イベント運営
          tr
            th 取引銀行
            td  三菱UFJ銀行
      .timeline-box
        //- each item in timeline
        //-   .item 
        //-     .content
        //-       h3 #{item.time}
        //-       p #{item.content}
        //-     if item.image 
        //-       .image-box
        //-         img(src='./sources/imgs/timeline/' + item.image)
        //-     else 
        //-       .image-box

