extends  ./layouts/main.pug

block header 
  - var currentPage = 'contact';

block main
  .page-contact
    .page-header 
      .header-background(style="background-image: url(./sources/imgs/header/a4.jpg)") 
      .container
        h1 联系我们
        span.bg-title Contact Us
    .contact-area 
      .container 
        .block
          h3.location-title 杭州 (Hangzhou)
          .article
            p 业务联络邮箱：comment@meizhi.info
            p 公司地址：浙江省杭州市余杭区
            p 前台电话：0571-86283061
