extends  ./layouts/main.pug

block header 
  - var currentPage = 'contact';

block main
  .page-contact
    .page-header 
      .header-background(style="background-image: url(./sources/imgs/header/a4.jpg)") 
      .container
        h1 お問い合わせ
        span.bg-title Contact Us
    .contact-area 
      .container 
        .block
          .article
            p メールアドレス：johakusin@gmail.com
            p 連絡先：〒151-0072　東京都渋谷区幡ヶ谷１－１１－９ グローリオ笹塚５０５
            p TEL：080 4836 0079
