extends  ./layouts/main.pug

block header 
  - var currentPage = 'index';

block extra 
  .splash-screen
    .background 
      <div class="splash-swiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide" style="background-image: url('./sources/imgs/header/1.jpg')">
          <div class="cover"></div></div>
          <div class="swiper-slide" style="background-image: url('./sources/imgs/header/2.jpg')"><div class="cover"></div></div>
          <div class="swiper-slide" style="background-image: url('./sources/imgs/header/3.jpg')"><div class="cover"></div></div>
        </div>
      </div>
    .content
      h1 魅知株式会社
      div.intro
        a(href="#enter") More

block main
  script(src="./sources/scripts/index.js")
  <link rel="stylesheet" href="./sources/swiper-bundle.min.css" />
  .body.page-index#enter
    .container
      .enter-block 
        a.item-project-box(href="./project.pug")
          .item.item-project(style="background-image: url('./sources/imgs/index-block/index-1.jpg')")
            h3 ワークス
        .right
          a(href="./about.pug")
            .item.item-about(style="background-image: url('./sources/imgs/index-block/index-2.jpg')")
              h3 会社概要
          a(href="./join.pug") 
            .item.item-join(style="background-image: url('./sources/imgs/index-block/index-5.jpg')")
              h3 採用情報
          a(href="./contact.pug") 
            .item.item-join(style="background-image: url('./sources/imgs/index-block/index-4.jpg')")
              h3 お問い合わせ
        .swiper
    //- .swiper-box.container
    //-   <div class="swiper-container">
    //-     <div class="swiper-wrapper">
    //-       <div class="swiper-slide" style="background-image: url('./sources/imgs/banner/1.jpg')"></div>
    //-       <div class="swiper-slide" style="background-image: url('./sources/imgs/banner/2.jpg')"></div>
    //-       <div class="swiper-slide" style="background-image: url('./sources/imgs/banner/3.jpg')"></div>
    //-       <div class="swiper-slide" style="background-image: url('./sources/imgs/banner/4.jpg')"></div>
    //-       <div class="swiper-slide" style="background-image: url('./sources/imgs/banner/5.jpg')"></div>
    //-     </div>
    //-     <div class="swiper-pagination"></div>
    //-     <div class="swiper-button-prev"></div>
    //-     <div class="swiper-button-next"></div>
    //-   </div>
      