extends  ./layouts/main.pug

block header 
  - var currentPage = 'join';

block main
  .page-header
    .header-background(style="background-image: url(./sources/imgs/header/a3.jpg)")  
    .container
      h1 採用情報
      span.bg-title Join Us
  .contact-area         
    .container
      .joinus
        .ch
          h3.chtitle ※現在は募集しておりません
          //- .list
          //-   .item
          //-     h3 职位名称
          //-     p.tag 职位描述 | 接受远程任职
          //-     p 一段更详细的职位介绍
          //-   .item
          //-     h3 职位名称
          //-     p.tag 职位描述 | 接受远程任职
          //-     p 一段更详细的职位介绍
          //-   .item
          //-     h3 职位名称
          //-     p.tag 职位描述 | 接受远程任职
          //-     p 一段更详细的职位介绍

