extends  ./layouts/main.pug

block header 
  - var currentPage = 'join';

block main
  .page-header
    .header-background(style="background-image: url(./sources/imgs/header/a3.jpg)")  
    .container
      h1 加入我们
      span.bg-title Join Us
  .contact-area         
    .container
      .joinus
        .ch
          h3.chtitle 求职入口
          div.action
            a.button(href="https://www.lagou.com/gongsi/123916571.html") 职位信息
        .ch
          h3.chtitle 社会招聘
          div
            p 1.简历及邮件主题命名：【应聘】【岗位】应聘人姓名；
            p 2.投递时可附上 100 字以内个人推荐语、美术及设计类岗位需附上作品集；
            p 3.简历投递：发送简历及个人作品集（若有）到邮箱 hr@meizhi.info；
          div.action
            a.button(href="mailto:hr@meizhi.info") 发送邮件
          //- .list
          //-   .item
          //-     h3 职位名称
          //-     p.tag 职位描述 | 接受远程任职
          //-     p 一段更详细的职位介绍
          //-   .item
          //-     h3 职位名称
          //-     p.tag 职位描述 | 接受远程任职
          //-     p 一段更详细的职位介绍
          //-   .item
          //-     h3 职位名称
          //-     p.tag 职位描述 | 接受远程任职
          //-     p 一段更详细的职位介绍

