extends  ./layouts/main.pug

block header 
  - var currentPage = 'project';

block main
  script(src="./sources/scripts/project.js")
  .page-project
    .page-header 
      .header-background(style="background-image: url(./sources/imgs/header/a2.jpg)") 
      .container
        h1 ワークス
        span.bg-title Projects 
    .container.project-nav 
      a(href="#project-events") 活動
      a(href="#project-business") 事業運営
      a(href="#project-support") サークルサポート
    .project-area
      .container
        .fixed-title
          h2 fixed title
            span.bg-title fixed sub title
        .project-item.products#project-events
          .item-title
            h2 活動
              span.bg-title Events
          .product-block-list
            .product-block-wrapper
              .product-block
                .item-img(style="background-image: url(./sources/imgs/projects/mzhxblh.jpg)")
                .item-content
                  .item-content-inner
                    .logo-area
                      img(src="./sources/imgs/logo/mzhxblh.png")
                    .content
                      h3 魅知幻想博览会
                      p 全国规模的东方Project Only展会，东方Project爱好者的节日盛典。
                      .action
                        a.button(target="_blank", href='http://thonly.name/') 访问网站
            .product-block-wrapper
              .product-block
                .item-img(style="background-image: url(./sources/imgs/projects/mzhxgyh.jpg)")
                .item-content
                  .item-content-inner
                    .logo-area
                      img(src="./sources/imgs/logo/mzhxgyh.png")
                    .content
                      h3 魅知幻想歌谣会
                      p 东方Project同人音乐LIVE活动品牌，顶级质量的同人音乐LIVE。
                      .action
                        a.button(target="_blank", href='http://thonly.name/music.html') 访问网站
            .product-block-wrapper
              .product-block
                .item-img(style="background-image: url(./sources/imgs/projects/hzxl.jpg)")
                .item-content
                  .item-content-inner
                    .logo-area
                      img(src="./sources/imgs/logo/hzsy.png")
                    .content
                      h3 幻奏系列音乐会
                      p 获得东方Project官方授权，基于原作音乐交响改编创立的音乐会品牌，从大型管弦交响到民族交响应有尽有。 
                      .action
                        a.button(target="_blank", href='http://touhou-symphony.net/') 访问网站
            .product-block-wrapper
              .product-block
                .item-img(style="background-image: url(./sources/imgs/projects/dsjjt.jpg)")
                .item-content
                  .item-content-inner
                    .logo-area
                      img(src="./sources/imgs/logo/dsj.png")
                    .content
                      h3 东深见讲坛
                      p 围绕东方Project的TED模式的知识与见解分享研讨会。
                      .action
                        a.button(target="_blank", href='https://thwiki.cc/%E4%B8%9C%E6%B7%B1%E8%A7%81%E8%AE%B2%E5%9D%9B') More
        .project-item.products#project-business
          .item-title
            h2 事業運営
              span.bg-title Business Operation
          .product-block-list
            .product-block-wrapper
              .product-block
                .item-img(style="background-image: url(./sources/imgs/projects/fy.jpg)")
                .item-content
                  .item-content-inner
                    .logo-area
                    .content
                        h3 翻译工作室
                        p 专业的ACGN及相关文化圈书籍、报刊、杂志、著作的翻译及校对、本土化团队。
                        .action
                          a.button(target="_blank", href='./contact.pug') お問い合わせ
            .product-block-wrapper
              .product-block
                .item-img(style="background-image: url(./sources/imgs/projects/wtdj.jpg)")
                .item-content
                  .item-content-inner
                    .logo-area
                    .content
                        h3 会演中心
                        p 从活动报批到场地搭建、活动执行的一站式服务部门。
                        .action
                          a.button(target="_blank", href='./contact.pug') お問い合わせ
        .project-item.products#project-support
          .item-title
            h2 サークルサポート
              span.bg-title Circle Support
          .product-block-list
            .product-block-wrapper
              .product-block
                .item-img(style="background-image: url(./sources/imgs/projects/thbwiki.jpg)")
                .item-content
                  .item-content-inner
                    .logo-area
                      img.s-logo(src="./sources/imgs/logo/thbwiki.png")
                    .content
                      h3 THBWiki
                      p 最大的简体中文东方Project主题维基百科。
                      .action
                        a.button(target="_blank", href='https://thwiki.cc/') 访问网站
            .product-block-wrapper
              .product-block
                .item-img(style="background-image: url(./sources/imgs/projects/lxjh.jpg)")
                .item-content
                  .item-content-inner
                    .logo-area
                      img.s-logo(src="./sources/imgs/logo/lxjh.png")
                    .content
                      h3 流星计划
                      p 进行海外优秀同人作品翻译制作，展会活动策划参与的同人社团组织。
                      .action
                        a.button(target="_blank", href='https://space.bilibili.com/495856925') B站动态
            .product-block-wrapper
              .product-block
                .item-img(style="background-image: url(./sources/imgs/projects/jjt.jpg)")
                .item-content
                  .item-content-inner
                    .logo-area
                      img.s-logo(src="./sources/imgs/logo/jdhxjt.png")
                    .content
                      h3 京都幻想剧团
                      p 以制作东方Project的二次同人动画为主的东方同人社团。
                      .action
                        a.button(target="_blank", href='http://kyotofantasytroupe.net/') 访问网站
            .product-block-wrapper
              .product-block
                .item-img(style="background-image: url(./sources/imgs/projects/dyj.jpg)")
                .item-content
                  .item-content-inner
                    .logo-area
                      img.s-logo(src="./sources/imgs/logo/dyj.png")
                    .content
                      h3 东方同人游戏鉴赏组
                      p 旨在推广和测评东方同人游戏，以及承担东方Project同人游戏推广发行及海内外引进的组织。
                      .action
                        a.button(target="_blank", href='https://space.bilibili.com/364812769') B站动态