name: 发布网站

on:
  push:
    branches:
      - master  # default branch

jobs:
  pages:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: 使用 Node.js 16.x
        uses: actions/setup-node@v2
        with:
          node-version: '16'
      - name: 缓存NPM依赖
        uses: actions/cache@v2
        with:
          path: node_modules
          key: ${{ runner.OS }}-npm-cache
          restore-keys: |
            ${{ runner.OS }}-npm-cache
      - name: 安装依赖
        run: yarn install
      - name: 编译
        run: yarn run build
      - name: 发布
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./dist